// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#new {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
  padding-top: 50%;
}
